<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>berserker_cast_NE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_cast_NE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_cast_NE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_cast_NW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_cast_NW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_cast_NW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_cast_SE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>berserker_cast_SE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>berserker_cast_SE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,86},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>berserker_cast_SW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,86},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>berserker_cast_SW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,86},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>berserker_cast_SW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,86},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>berserker_idle_NE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,86},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>berserker_idle_NE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>berserker_idle_NE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,170},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>berserker_idle_NE_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,170},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>berserker_idle_NW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,170},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>berserker_idle_NW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,170},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>berserker_idle_NW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,170},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>berserker_idle_NW_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,170},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>berserker_idle_SE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>berserker_idle_SE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,235},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>berserker_idle_SE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,235},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>berserker_idle_SE_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,235},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>berserker_idle_SW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,235},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>berserker_idle_SW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,235},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>berserker_idle_SW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,235},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>berserker_idle_SW_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>berserker_swing_NE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,299},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>berserker_swing_NE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,299},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>berserker_swing_NE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,299},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>berserker_swing_NE_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,299},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>berserker_swing_NW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>berserker_swing_NW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,401},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>berserker_swing_NW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,401},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>berserker_swing_NW_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,401},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>berserker_swing_SE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,401},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>berserker_swing_SE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>berserker_swing_SE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,503},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>berserker_swing_SE_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,503},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>berserker_swing_SW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,503},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>berserker_swing_SW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,503},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>berserker_swing_SW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>berserker_swing_SW_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,605},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>berserker_walk_NE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,605},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_walk_NE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,605},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_walk_NE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,605},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_walk_NE_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,605},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_walk_NW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_walk_NW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,707},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_walk_NW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,707},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_walk_NW_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,707},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_walk_SE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,707},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_walk_SE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,707},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_walk_SE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,707},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_walk_SE_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,791},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_walk_SW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,791},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_walk_SW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,791},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_walk_SW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,791},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>berserker_walk_SW_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,791},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>zglow_berserker.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,791},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>berserker.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24f083b78d7d6ade0951b3c28e7c797e:1/1$</string>
            <key>textureFileName</key>
            <string>berserker.png</string>
        </dict>
    </dict>
</plist>
