<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>knight_hurt_NE.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_hurt_NW.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_hurt_SE.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_hurt_SW.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_idle_NE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>knight_idle_NE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{44,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>knight_idle_NE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>knight_idle_NE_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{44,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>knight_idle_NW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>knight_idle_NW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{44,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>knight_idle_NW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,86},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>knight_idle_NW_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,86},{44,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>knight_idle_SE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,86},{44,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,63}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>knight_idle_SE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,86},{44,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,63}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>knight_idle_SE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,86},{44,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,63}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>knight_idle_SE_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,86},{44,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,63}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>knight_idle_SW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,86},{44,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,63}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>knight_idle_SW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,86},{44,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,63}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>knight_idle_SW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,86},{44,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,63}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>knight_idle_SW_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,86},{44,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,63}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>knight_swing_NE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>knight_swing_NE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,151},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>knight_swing_NE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,151},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>knight_swing_NW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,151},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>knight_swing_NW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,151},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>knight_swing_NW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>knight_swing_SE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,253},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>knight_swing_SE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,253},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>knight_swing_SE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,253},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>knight_swing_SW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,253},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>knight_swing_SW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>knight_swing_SW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,355},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>knight_walk_NE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,355},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_walk_NE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,355},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_walk_NE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,355},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_walk_NE_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,355},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_walk_NW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_walk_NW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,457},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_walk_NW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,457},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_walk_NW_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,457},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_walk_SE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,457},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_walk_SE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,457},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_walk_SE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,457},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_walk_SE_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_walk_SW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,541},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_walk_SW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,541},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_walk_SW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,541},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>knight_walk_SW_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,541},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>zglow_knight.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,541},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>knight.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b191de952c3e9e2b6e5676f4053f9d6:1/1$</string>
            <key>textureFileName</key>
            <string>knight.png</string>
        </dict>
    </dict>
</plist>
