<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>deathorb_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 17}, {60, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 139}</string>
			<key>spriteSourceSize</key>
			<string>{160, 139}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 302}, {160, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>deathorb_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{53, 12}, {56, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 139}</string>
			<key>spriteSourceSize</key>
			<string>{160, 139}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 745}, {160, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>deathorb_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 13}, {44, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 139}</string>
			<key>spriteSourceSize</key>
			<string>{160, 139}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 604}, {160, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>deathorb_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 14}, {42, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 139}</string>
			<key>spriteSourceSize</key>
			<string>{160, 139}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 584}, {160, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>deathorb_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 17}, {36, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 139}</string>
			<key>spriteSourceSize</key>
			<string>{160, 139}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 443}, {160, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heal_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{83, 127}, {36, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 300}</string>
			<key>spriteSourceSize</key>
			<string>{200, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{364, 302}, {200, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heal_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{61, 97}, {80, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 300}</string>
			<key>spriteSourceSize</key>
			<string>{200, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162, 302}, {200, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heal_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 113}, {104, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 300}</string>
			<key>spriteSourceSize</key>
			<string>{200, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 0}, {200, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heal_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 129}, {80, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 300}</string>
			<key>spriteSourceSize</key>
			<string>{200, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 0}, {200, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heal_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{75, 135}, {46, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 300}</string>
			<key>spriteSourceSize</key>
			<string>{200, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {200, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_NE_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 12}, {76, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{566, 575}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_NE_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 5}, {80, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1374, 273}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_NE_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 2}, {88, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1576, 273}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_NE_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 1}, {88, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1374, 546}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_NE_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 2}, {88, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2788, 273}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_NE_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 1}, {88, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2384, 273}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_NW_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{75, 12}, {76, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1980, 273}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_NW_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 5}, {80, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3434, 819}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_NW_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 2}, {88, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3434, 0}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_NW_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 1}, {88, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2990, 546}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_NW_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 2}, {88, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{606, 0}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_NW_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 1}, {88, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{808, 819}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_SE_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 24}, {82, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 725}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_SE_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 20}, {98, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1616, 819}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_SE_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 18}, {114, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2222, 819}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_SE_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 17}, {114, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2626, 819}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_SE_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 18}, {114, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 1121}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_SE_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 17}, {114, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3030, 819}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_SW_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 24}, {82, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1778, 273}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_SW_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 20}, {98, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1414, 0}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_SW_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 18}, {114, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{566, 302}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_SW_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 17}, {114, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1818, 819}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_SW_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 18}, {114, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2586, 273}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_cast_SW_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 17}, {114, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1212, 819}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_idle_NE_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 29}, {72, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2828, 0}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_idle_NE_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 30}, {72, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2424, 819}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_idle_NW_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 29}, {72, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{566, 848}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_idle_NW_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 30}, {72, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2586, 546}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_idle_SE_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 35}, {92, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3394, 546}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_idle_SE_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 36}, {92, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1616, 0}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_idle_SW_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 35}, {92, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 604}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_idle_SW_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 36}, {92, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2020, 819}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_knockback_NE.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 33}, {84, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2828, 819}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_knockback_NW.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{75, 33}, {84, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3030, 0}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_knockback_SE.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{51, 36}, {78, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1172, 546}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_knockback_SW.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{71, 36}, {78, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2182, 273}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_NE_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 29}, {76, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1172, 273}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_NE_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 26}, {76, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1212, 0}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_NE_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 25}, {76, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3192, 546}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_NE_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 26}, {76, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1010, 0}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_NE_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 29}, {76, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2788, 546}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_NE_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 26}, {76, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2020, 0}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_NE_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 25}, {76, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1576, 546}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_NE_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 26}, {76, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 1150}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_NW_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{75, 29}, {76, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3232, 819}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_NW_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{75, 26}, {76, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1818, 0}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_NW_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{75, 25}, {76, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1980, 546}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_NW_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{75, 26}, {76, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2990, 273}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_NW_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{75, 29}, {76, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{768, 273}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_NW_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{75, 26}, {76, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 998}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_NW_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{75, 25}, {76, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3232, 0}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_NW_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{75, 26}, {76, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{768, 546}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_SE_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 37}, {92, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2384, 546}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_SE_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 33}, {88, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2626, 0}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_SE_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 32}, {78, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2424, 0}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_SE_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 33}, {88, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3192, 273}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_SE_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 37}, {92, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{808, 0}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_SE_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 33}, {88, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{970, 273}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_SE_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 32}, {78, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1414, 819}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_SE_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 33}, {88, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2222, 0}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_SW_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{53, 37}, {92, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2182, 546}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_SW_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{58, 33}, {88, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 877}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_SW_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 32}, {78, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{970, 546}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_SW_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{58, 33}, {88, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1010, 819}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_SW_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{53, 37}, {92, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1271}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_SW_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{58, 33}, {88, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1778, 546}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_SW_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 32}, {78, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3394, 273}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionmage_walk_SW_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{58, 33}, {88, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 271}</string>
			<key>spriteSourceSize</key>
			<string>{200, 271}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{606, 1121}, {200, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit_base.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 46}, {124, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 188}</string>
			<key>spriteSourceSize</key>
			<string>{128, 188}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 886}, {128, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.8</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>lionmage</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>lionmage_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>lionmage_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>