<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_cast_NE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_cast_NE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_cast_NE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_cast_NW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_cast_NW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_cast_NW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_cast_SE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_cast_SE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_cast_SE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,86},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_cast_SW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,86},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_cast_SW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,86},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_cast_SW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,86},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_hurt_NE.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,86},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_hurt_NW.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,86},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_hurt_SE.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_hurt_SW.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,170},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_idle_NE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,170},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>ranger_idle_NE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,170},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>ranger_idle_NE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,170},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>ranger_idle_NE_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,170},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>ranger_idle_NW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,170},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>ranger_idle_NW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,170},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>ranger_idle_NW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>ranger_idle_NW_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,254},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>ranger_idle_SE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,254},{58,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{58,74}</string>
            </dict>
            <key>ranger_idle_SE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,254},{58,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{58,74}</string>
            </dict>
            <key>ranger_idle_SE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,254},{58,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{58,74}</string>
            </dict>
            <key>ranger_idle_SE_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,254},{58,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{58,74}</string>
            </dict>
            <key>ranger_idle_SW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,254},{58,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{58,74}</string>
            </dict>
            <key>ranger_idle_SW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,254},{58,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{58,74}</string>
            </dict>
            <key>ranger_idle_SW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{58,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{58,74}</string>
            </dict>
            <key>ranger_idle_SW_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,332},{58,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{58,74}</string>
            </dict>
            <key>ranger_shoot_NE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,332},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_shoot_NE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,332},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_shoot_NE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,332},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_shoot_NW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,332},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_shoot_NW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,332},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_shoot_NW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,332},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_shoot_SE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_shoot_SE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,416},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_shoot_SE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,416},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_shoot_SW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,416},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_shoot_SW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,416},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_shoot_SW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,416},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_walk_NE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,416},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_walk_NE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_walk_NE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,500},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_walk_NE_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,500},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_walk_NW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,500},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_walk_NW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,500},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_walk_NW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,500},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_walk_NW_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,500},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_walk_SE_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_walk_SE_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,584},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_walk_SE_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,584},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_walk_SE_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,584},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_walk_SW_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,584},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_walk_SW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,584},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_walk_SW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,584},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>ranger_walk_SW_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>zglow_ranger.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,668},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ranger.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b51d9d6ab17f01b5153f7edb4330a42d:1/1$</string>
            <key>textureFileName</key>
            <string>ranger.png</string>
        </dict>
    </dict>
</plist>
