<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>warrior_hurt_NE.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_hurt_NW.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,2},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_hurt_SE.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,2},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_hurt_SW.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,2},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_idle_NE_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,2},{31,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,65}}</string>
			<key>sourceSize</key>
			<string>{31,65}</string>
		</dict>
		<key>warrior_idle_NE_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,2},{30,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,64}}</string>
			<key>sourceSize</key>
			<string>{30,64}</string>
		</dict>
		<key>warrior_idle_NE_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,2},{31,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,63}}</string>
			<key>sourceSize</key>
			<string>{31,63}</string>
		</dict>
		<key>warrior_idle_NE_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,2},{30,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,64}}</string>
			<key>sourceSize</key>
			<string>{30,64}</string>
		</dict>
		<key>warrior_idle_NW_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,2},{31,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,65}}</string>
			<key>sourceSize</key>
			<string>{31,65}</string>
		</dict>
		<key>warrior_idle_NW_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,2},{30,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,64}}</string>
			<key>sourceSize</key>
			<string>{30,64}</string>
		</dict>
		<key>warrior_idle_NW_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,2},{31,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,63}}</string>
			<key>sourceSize</key>
			<string>{31,63}</string>
		</dict>
		<key>warrior_idle_NW_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,86},{30,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,64}}</string>
			<key>sourceSize</key>
			<string>{30,64}</string>
		</dict>
		<key>warrior_idle_SE_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,86},{37,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,70}}</string>
			<key>sourceSize</key>
			<string>{37,70}</string>
		</dict>
		<key>warrior_idle_SE_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,86},{37,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,70}}</string>
			<key>sourceSize</key>
			<string>{37,70}</string>
		</dict>
		<key>warrior_idle_SE_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,86},{37,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,70}}</string>
			<key>sourceSize</key>
			<string>{37,70}</string>
		</dict>
		<key>warrior_idle_SE_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,86},{37,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,70}}</string>
			<key>sourceSize</key>
			<string>{37,70}</string>
		</dict>
		<key>warrior_idle_SW_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,86},{37,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,70}}</string>
			<key>sourceSize</key>
			<string>{37,70}</string>
		</dict>
		<key>warrior_idle_SW_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,86},{37,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,70}}</string>
			<key>sourceSize</key>
			<string>{37,70}</string>
		</dict>
		<key>warrior_idle_SW_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,86},{37,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,70}}</string>
			<key>sourceSize</key>
			<string>{37,70}</string>
		</dict>
		<key>warrior_idle_SW_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,86},{37,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,70}}</string>
			<key>sourceSize</key>
			<string>{37,70}</string>
		</dict>
		<key>warrior_jab_NE_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,86},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>warrior_jab_NE_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,170},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>warrior_jab_NE_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,170},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>warrior_jab_NW_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,170},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>warrior_jab_NW_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,170},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>warrior_jab_NW_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,170},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>warrior_jab_SE_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,254},{90,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,82}}</string>
			<key>sourceSize</key>
			<string>{90,82}</string>
		</dict>
		<key>warrior_jab_SE_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,254},{90,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,82}}</string>
			<key>sourceSize</key>
			<string>{90,82}</string>
		</dict>
		<key>warrior_jab_SE_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,254},{90,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,82}}</string>
			<key>sourceSize</key>
			<string>{90,82}</string>
		</dict>
		<key>warrior_jab_SW_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,254},{90,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,82}}</string>
			<key>sourceSize</key>
			<string>{90,82}</string>
		</dict>
		<key>warrior_jab_SW_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,254},{90,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,82}}</string>
			<key>sourceSize</key>
			<string>{90,82}</string>
		</dict>
		<key>warrior_jab_SW_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,338},{90,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,82}}</string>
			<key>sourceSize</key>
			<string>{90,82}</string>
		</dict>
		<key>warrior_slice_NE_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,338},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>warrior_slice_NE_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,338},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>warrior_slice_NE_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,338},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>warrior_slice_NW_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,338},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>warrior_slice_NW_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,422},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>warrior_slice_NW_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,422},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>warrior_slice_SE_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,422},{90,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,82}}</string>
			<key>sourceSize</key>
			<string>{90,82}</string>
		</dict>
		<key>warrior_slice_SE_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,422},{90,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,82}}</string>
			<key>sourceSize</key>
			<string>{90,82}</string>
		</dict>
		<key>warrior_slice_SE_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,422},{90,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,82}}</string>
			<key>sourceSize</key>
			<string>{90,82}</string>
		</dict>
		<key>warrior_slice_SW_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,506},{90,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,82}}</string>
			<key>sourceSize</key>
			<string>{90,82}</string>
		</dict>
		<key>warrior_slice_SW_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,506},{90,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,82}}</string>
			<key>sourceSize</key>
			<string>{90,82}</string>
		</dict>
		<key>warrior_slice_SW_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,506},{90,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,82}}</string>
			<key>sourceSize</key>
			<string>{90,82}</string>
		</dict>
		<key>warrior_walk_NE_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,506},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_walk_NE_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,506},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_walk_NE_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,506},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_walk_NE_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,590},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_walk_NW_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,590},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_walk_NW_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,590},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_walk_NW_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,590},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_walk_NW_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,590},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_walk_SE_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,590},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_walk_SE_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,590},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_walk_SE_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,674},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_walk_SE_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,674},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_walk_SW_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,674},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_walk_SW_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,674},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_walk_SW_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,674},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>warrior_walk_SW_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,674},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>zglow_warrior.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,674},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>warrior.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:419323fd4f1460457c83926000ee101b:1/1$</string>
		<key>textureFileName</key>
		<string>warrior.png</string>
	</dict>
</dict>
</plist>
